.bg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    background-color: #00000042;
}
.layer{

    background: linear-gradient(rgba(39, 43, 48, .9), #272b30 );
    min-height: 100vh;
        
}