.intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('../../img/paladins.b44d33d6e7ee1ba8.png');
    width: 100%;
    min-height: 35vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-color: #1c1e22;
    background-position: top;
    background-size: contain;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, .6);
    padding: 4rem ;




}