.card {
    transition: transform 0.5s, filter 0.5s 0.1s;
}
.card:hover {
    transform: scale(105%, 105%);
    -webkit-filter: unset;
    -webkit-transform: scale(105%, 105%);
    -moz-transform: scale(105%, 105%);
    -ms-transform: scale(105%, 105%);
    -o-transform: scale(105%, 105%);
}
.textTruncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

